In [3]:
import pandas as pd

In [5]:
# Load the dataset
df = pd.read_csv('t20.csv')
df.head()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Unnamed: 15
0,0,V Kohli (INDIA),2010-2019,75,70,20,2633,94*,52.66,1907,138.07,0,24,2,247,71,NaN
1,1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120,NaN
2,2,MJ Guptill (NZ),2009-2019,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113,NaN
3,3,Shoaib Malik (ICC/PAK),2006-2019,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61,NaN
4,4,BB McCullum (NZ),2005-2015,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91,NaN

In [7]:
# Basic summary
print("Missing values:\n", df.isnull().sum())
print("\nDescription:\n", df.describe())

Missing values:
 Unnamed: 0        0
Player            0
Span              0
Mat               0
Inns              0
NO                0
Runs              0
HS                0
Ave               0
BF                0
SR                0
100               0
50                0
0                 0
4s                0
6s                0
Unnamed: 15    2006
dtype: int64

Description:
         Unnamed: 0          Mat  Unnamed: 15
count  2006.000000  2006.000000          0.0
mean     24.434197    11.231805          NaN
std      14.463176    14.923332          NaN
min       0.000000     1.000000          NaN
25%      12.000000     3.000000          NaN
50%      24.000000     5.000000          NaN
75%      37.000000    13.000000          NaN
max      49.000000   111.000000          NaN

In [9]:
# printing info
df.info()
print("\nShape:", df.shape)
print("\nData types:\n", df.dtypes)
print("\nColumns:\n", df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2006 non-null   int64
 1   Player       2006 non-null   object
 2   Span         2006 non-null   object
 3   Mat          2006 non-null   int64
 4   Inns         2006 non-null   object
 5   NO           2006 non-null   object
 6   Runs         2006 non-null   object
 7   HS           2006 non-null   object
 8   Ave          2006 non-null   object
 9   BF           2006 non-null   object
 10  SR           2006 non-null   object
 11  100          2006 non-null   object
 12  50           2006 non-null   object
 13  0            2006 non-null   object
 14  4s           2006 non-null   object
 15  6s           2006 non-null   object
 16  Unnamed: 15  0 non-null      float64
dtypes: float64(1), int64(2), object(14)
memory usage: 266.6+ KB

Shape: (2006, 17)

Data types:
 Unnamed: 0       int64
Player          object
Span            object
Mat              int64
Inns            object
NO              object
Runs            object
HS              object
Ave             object
BF              object
SR              object
100             object
50              object
0               object
4s              object
6s              object
Unnamed: 15    float64
dtype: object

Columns:
 Index(['Unnamed: 0', 'Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS',
       'Ave', 'BF', 'SR', '100', '50', '0', '4s', '6s', 'Unnamed: 15'],
      dtype='object')

In [11]:
# Rename column
df.rename(columns={'Player': 'Player Name'}, inplace=True)
df.head()

,Unnamed: 0,Player Name,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Unnamed: 15
0,0,V Kohli (INDIA),2010-2019,75,70,20,2633,94*,52.66,1907,138.07,0,24,2,247,71,NaN
1,1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120,NaN
2,2,MJ Guptill (NZ),2009-2019,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113,NaN
3,3,Shoaib Malik (ICC/PAK),2006-2019,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61,NaN
4,4,BB McCullum (NZ),2005-2015,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91,NaN

In [13]:
# Filter and display rows
print("\nRows where Mat > 162:\n", df[df['Mat'] > 162])

Rows where Mat > 162:
 Empty DataFrame
Columns: [Unnamed: 0, Player Name, Span, Mat, Inns, NO, Runs, HS, Ave, BF, SR, 100, 50, 0, 4s, 6s, Unnamed: 15]
Index: []

In [15]:
df.dtypes

Unnamed: 0       int64
Player Name     object
Span            object
Mat              int64
Inns            object
NO              object
Runs            object
HS              object
Ave             object
BF              object
SR              object
100             object
50              object
0               object
4s              object
6s              object
Unnamed: 15    float64
dtype: object

In [17]:
df = pd.get_dummies(df, columns=['Player Name'])

In [19]:
df.head()

,Unnamed: 0,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,...,Player Name_Zeshan Arif (Aut),Player Name_Ziaur Rahman (AFG),Player Name_Ziaur Rahman (BDESH),Player Name_Ziaur Rehman (Fin),Player Name_Zishan Shah (DEN),Player Name_Zohaib Sarwar (PORT),Player Name_Zubaidi Zulkifle (MAL),Player Name_Zulfiqar Babar (PAK),Player Name_Zulqarnain Haider (ESP),Player Name_Zulqarnain Haider (PAK)
0,0,2010-2019,75,70,20,2633,94*,52.66,1907,138.07,...,False,False,False,False,False,False,False,False,False,False
1,1,2007-2019,104,96,14,2633,118,32.1,1905,138.21,...,False,False,False,False,False,False,False,False,False,False
2,2,2009-2019,83,80,7,2436,105,33.36,1810,134.58,...,False,False,False,False,False,False,False,False,False,False
3,3,2006-2019,111,104,30,2263,75,30.58,1824,124.06,...,False,False,False,False,False,False,False,False,False,False
4,4,2005-2015,71,70,10,2140,123,35.66,1571,136.21,...,False,False,False,False,False,False,False,False,False,False